torch==2.4.1
torchaudio==2.4.1
torchvision==0.19.1
librosa==0.10.2.post1
torchdiffeq==0.2.4
jaxtyping==0.2.34
x-transformers==1.34.0
gateloop-transformer==0.2.5
matplotlib==3.9.2
huggingface-hub==0.24.6
matplotlib
tqdm==4.66.5
scipy==1.14.1
scikit-learn==1.5.1
rotary-embedding-torch==0.8.3
soundfile==0.12.1
einops
ninja
tqdm